body {
    font-family: 'Playfair Display', serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #d8cfc4;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #b0a99f;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    margin: 10px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border: 1px solid #b0a99f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
}

.article-image {
    width: 250px;
    height: auto;
    border: 1px solid #b0a99f;
    margin: 20px 0;
}

.date {
    font-style: italic;
    color: #777;
}

footer {
    text-align: center;
    padding: 10px;
    background: #d8cfc4;
    border-top: 2px solid #b0a99f;
    position: relative;
    bottom: 0;
    width: 100%;
}
